<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админка CoddyBank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">Админ-панель</a>
      <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
      <a class="nav-link" href="{{ url_for('history') }}">История</a>
    </div>
    </nav>

    <div class="container">
        <form method="post">
            <div class="form-group mt-1">
            <select multiple name="name" class="form-control" id="exampleFormControlSelect1">
                {% for key, value in accounts.items() %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group mt-1">
            <input name="value" type="number" class="form-control" id="exampleInputС" placeholder="Количество">
          </div>
          <div class="form-group mt-1">
            <textarea placeholder="Описание" name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group mt-1">
            <input name="code" type="password" class="form-control" id="exampleInputPassword1" placeholder="Секретный код">
          </div>
          <button type="submit" class="btn btn-primary mt-1">Зачислить</button>
        </form>

        {% if status == "success" %}
        <div class="alert alert-success fixed-bottom" role="alert">
          Успешная транзакция
        </div>
        {% endif %}
        {% if status == "error" %}
        <div class="alert alert-danger fixed-bottom" role="alert">
          Ошибка транзакции
        </div>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>