<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Банк CoddyCamp</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">История</a>
      <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
      <a class="nav-link" href="{{ url_for('admin') }}">Админка</a>
    </div>
    </nav>

    <form class="container" method="get" style="margin-top: 3rem; margin-bottom: 3rem;">
        <div class="form-group mt-1">
            <select name="name" class="form-control" id="exampleFormControlSelect1">
                {% for child in children %}
                <option value="{{ child }}">{{ child }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-1">Искать</button>
        <a href="/history" class="btn btn-danger mt-1">Очистить</a>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Дата и время</th>
            <th>Имя Фамилия</th>
            <th>Количество</th>
            <th>Описание</th>
        </tr>
        {% for log in history %}
            <tr>
                {% for item in log %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>