<!DOCTYPE html>
<html lang="en">
<head>
    <title>Магазин CoddyCamp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand">Магазин</a>
              <a class="nav-link" href="{{ url_for('index') }}">Счета</a>
            </div>
        </nav>
    </div>

    <div class="container">
    <h1>Услуги</h1>
    <div class="d-flex flex-wrap justify-content-around">
    {% for item in items["services"] %}
        <div class="card" style="width: 18rem; margin-top: 1.5rem; margin-bottom: 1.5rem;">
          <img class="card-img-top" style="width: 18rem; height: 18rem;" src="{{ url_for('static', filename=item['image']) }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ item["name"] }}</h5>
            <p class="card-text">{{ item["description"] }}</p>
          </div>
          <div class="card-footer"><b>Цена: {{ item["price"] }} cc</b></div>
        </div>
    {% endfor %}
  </div> 
    </div>

    <div class="container">
      <h1>Товары</h1>
      <div class="d-flex flex-wrap justify-content-around">
      {% for item in items["goods"] %}
        <div class="card" style="width: 18rem; margin-top: 1.5rem; margin-bottom: 1.5rem;">
          <img class="card-img-top" style="width: 18rem; height: 18rem;" src="{{ url_for('static', filename=item['image']) }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ item["name"] }}</h5>
            <p class="card-text">{{ item["description"] }}</p>
          </div>
          <div class="card-footer"><b>Цена: {{ item["price"]|safe }} cc</b></div>
        </div>
      
    {% endfor %}
  </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>